.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination {
  text-align: right !important;
  @media (max-width: 800px) {
    display: none;
  }
}

.swiper-pagination-bullet {
  background-color: #313131 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #ff7f00 !important;
}

.swiper-button-prev {
  color: #ff7f00 !important;
}

.swiper-button-next {
  color: #ff7f00 !important;
}

.swiper-button-next::after .swiper-button-prev::after {
  font-size: 1.3rem !important;
  font-weight: 600 !important;
}
