@import url('./styles/colors.css');
@import url('./styles/fonts.css');

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: 'Pretendard-Regular';
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none !important;
}
